{% extends "base.html" %} 

{% block content %}
  <main class="container">
    <h2>Shopping Cart</h2>
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
          {% for item in cart %}
            {% with product=item.product %}
              <li class="list-group-item">
                <div class="row flex-nowrap align-items-start">
                  <div class="col">
                    <img class="card-img-top thumbnail" src="{{ item.product.imageURL }}" />
                  </div>
                  <div class="col">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.price }}</p>
                  </div>
                  <div class="col">{{ item.quantity }}</div>
                  <div class="col">{{ item.total_price }}</div>
                  <form action="{% url "core:remove_from_cart" product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-remove" aria-label="Remove">
                      <i class="fas fa-times-circle"></i>
                    </button>
                  </form>
                </div>
              </li>
            {% endwith %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        {% include 'order-summary.html' %}
        <a href="{% url 'core:checkout' %}" class="btn btn-primary mt-3">CONTINUE TO CHECKOUT</a>
      </div>
    </div>
  </main>
{% endblock content %}
