{% extends "base.html" %} 

{% load static %} 

{% block content %}
  <main class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <h4 class="mb-3">Shipping Address</h4>
            <form
              method="post"
              class="needs-validation"
              novalidate
            >
              {% csrf_token %}
              {% if default_shipping_address %}
                <div class="form-check">
                  {{ shipping_form.use_default_shipping }}
                  {{ shipping_form.use_default_shipping.label_tag }}
              </div>
                <div id="hideable-shipping-address">
                  <p>
                    {{ default_shipping_address.first_name }} {{ default_shipping_address.last_name }}
                  </p>
                  <p>
                    {{ default_shipping_address.street_address_line1|truncatechars:10 }}
                  </p>
                  {% if default_shipping_address.street_address_line2 %}
                    <p>
                      {{ default_shipping_address.street_address_line2|truncatechars:10 }}
                    </p>
                  {% endif %}
                  <p>
                    {{ default_shipping_address.city  }}, {{ default_shipping_address.state }} {{ default_shipping_address.zip_code }}
                  </p>
                </div>
              {% endif %}
              <div class="hideable-shipping-form mt-3"
                {% if default_shipping_address %}
                  hidden
                {% endif %}
                  >
                {% with form=shipping_form %}
                  {% include 'address-form.html' %}
                {% endwith %}
                </div>
              <button type="submit" class="btn btn-primary mt-3">
                CONTINUE TO PAYMENT
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        {% include 'order-summary.html' %}
      </div>
    </div>
  </main>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript" src="{% static 'js/addressToggler.js' %}"></script>
{% endblock extra_scripts %}
