<ul class="list-group">
  <li class="list-group-item text-center font-weight-bold">Order Summary</li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Subtotal</span>
    <span>${{ cart.get_total_price|floatformat:2 }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Shipping</span>
    <span>Free</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Sales Tax</span>
    <span>$0.00</span>
  </li>
  <li class="list-group-item d-flex justify-content-between font-weight-bold">
    <span>Total</span>
    <span>${{ cart.get_total_price|floatformat:2 }}</span>
  </li>
</ul>
